Archive2.zip
Archive.zip
data/
data2/
data_june/
data_january/
.DS_Store
src/.ipynb_checkpoints/
src/__pycache__/
img/tc_screencasts1.png
img/tc_screencasts2.png
img/tc_screencasts4.png
img/tc_screencasts5.png
img/tc_screencasts6.png
img/sparklines/
img/jupyter\ 2.svg
img/jupyter 2.svg
img/jupyter.png
img/jupyter.svg
img/numpy.png
img/numpy.svg
img/matt-damon-best-movies-tv-shows.jpg
matt-damon.jpg
img/Webpage.png
img/Mossy.jpeg
img/Mossy_only_closer.jpeg
tc_chalice/
