<!DOCTYPE html>
<html lang="en">
  <style>
  .zoom {
      transition: transform .2s; /* Animation */
      width: 200px;
      height: 40px;
      margin: 0 auto;
  }

  .zoom:hover {
      transform: scale(4); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  </style>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TClassrooms in Danger</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">    <!-- Custom styles for this template -->
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/table.css"> -->
  </head>
  <body>

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">TClassrooms in Danger</a>
  </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h3>Instructions</h3>
        <p>This single page web application displays which classes will stop posting as of June 2018. Classes most in danger are at the top.
          The classroom ids and the probabilites they will stop posting for the next 6 months as of June 2018.</p>
        <p>Use this application to determine which classes need intervention: weather it be email, offers, or otherwise.</p>
      </div>
    </div>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
    <div class="container">
      <h1>Top 100 defecting classrooms</h1>
      <table id="example" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Posts</th>
            {% for title in columns %}
            <th scope="row">{{title}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in data %}  <!--start for loop over variable data-->
          <tr>
            <td>
            <img class="zoom" src="https://s3-us-west-2.amazonaws.com/sparklines/sparklines/sparkline_{{1}}.png">
            </td>
            {% for col_item in row %}
            <td>{{col_item}}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <h1>Search all classrooms</h1>
    <p>Please enter the classroom id below:</p>
    <div>
      <span>classroom:</span> <input id="classroom_id"></input>
    </div>
    <div>
        <button type="button" id="search">Search</button>
    </div>
    <span id="searched_class_columns"></span>

<!-- <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script> -->
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script> -->
<!-- <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}">  </script> -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->
<!-- <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->

<script type="text/javascript">
let get_classroom_id = function() {
    let classroom_id = $("input#classroom_id").val()
    return {'classroom_id': parseInt(classroom_id),}
};

let get_input_coefficients = function() {
    let a = $("input#a").val()
    let b = $("input#b").val()
    let c = $("input#c").val()
    return {'a': parseInt(a),
            'b': parseInt(b),
            'c': parseInt(c)}
};

let send_classroom_id_json = function(classroom_id) {
    $.ajax({
        url: '/search',
        contentType: "application/json; charset=utf-8",
        type: 'POST',
        success: function(data) {
            display_search(data);
        },
        data: JSON.stringify(classroom_id)
    });
};

let send_coefficient_json = function(coefficients) {
    $.ajax({
        url: '/solve',
        contentType: "application/json; charset=utf-8",
        type: 'POST',
        success: function (data) {
            display_solutions(data);
        },
        data: JSON.stringify(coefficients)
    });
};

let display_search = function(result) {
    console.log(result)
    console.log(result.classroom_stat)
    console.log(result['classroom_stat'])
    console.log(result['stat_labels'])
    console.log(result.values)
    console.log(result.keys)
    $("span#searched_class").html(makeUL(result.classroom_stat))
    // $("span#searched_class_columns").html(result.stat_labels)
    $("span#searched_class_columns").html( make_table(result.classroom_stat, result.stat_labels) ) // ['a','b'])) // result.stat_labels))
};

function make_table(array, table_headers) {
    var table = document.createElement('table');
    var thead = document.createElement('thead');
    var tr = document.createElement('tr');
    thead.appendChild(tr);
    for(var i = 0; i < table_headers.length; i++) {
        var item = document.createElement('th');
        item.appendChild(document.createTextNode(table_headers[i]));
        tr.appendChild(item);
    }
    var tbody = document.createElement(tbody);
    var tr2 = document.createElement('tr');
    thead.appendChild(tr2);
    for(var i = 0; i < array.length; i++) {
        var item = document.createElement('th');
        item.appendChild(document.createTextNode(array[i]));
        tr2.appendChild(item);
    }
    table.appendChild(thead);
    table.appendChild(tbody);
    return table;
}

function makeUL(array) {
    // Create the list element:
    var list = document.createElement('ul');
    for(var i = 0; i < array.length; i++) {
        var item = document.createElement('li');
        item.appendChild(document.createTextNode(array[i]));
        list.appendChild(item);
    }
    return list;
}


let display_solutions = function(solutions) {
    $("span#solution").html(solutions.root_1 + " and " + solutions.root_2)
};


$(document).ready(function() {

  $('#example').DataTable();
  $("button#search").click(function() {
      let classroom_id = get_classroom_id();
      send_classroom_id_json(classroom_id);
  })
  $("button#solve").click(function() {
      let coefficients = get_input_coefficients();
      send_coefficient_json(coefficients);
  })
})
</script>
</body>


      <footer>
        <p>&copy; Meetglow 2018</p>
      </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


    <!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
 -->  </body>
</html>


<!--
<!DOCTYPE html>
<html>
<head>
    <title>TClassrooms in Danger</title>
</head>
<body>
</html> -->
